version: '3.8'

services:
  api:
    build: .
    container_name: travel-api
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      MONGO_URL: mongodb://root:secret@mongo:27017/travel-preparcial?authSource=admin

  mongo:
    image: mongo:6.0
    container_name: travel-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
